* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html {
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {  
  width: 250px;
  height: 250px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5), -2px -2px 4px 1px rgba(0, 0, 0, 0.5); 
  display: grid;
  place-content: center;
 
}

.square p{
 text-align: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form label {
  position: absolute;
  display: none;
}

form input[type='text'] {
  width: 300px;
  max-width: 100%;
  min-height: 38px;
  font-size: 20px;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-top: 11px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);

}


button {
  cursor: pointer;
  border: none;
  height: 38px;
  min-width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

button:hover{
  color: white;
  background-color: skyblue;
}